.favourites-button {
  position: absolute;
  right: 8px;
  top: 5px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 0;
  border-radius: 100%;
  outline: none;
}
.is-active,.is-active:focus,.is-active:active,.is-active:hover {
    background: #d9534f;
    border: solid 1px #fff;
}
#jock_feed li, #favourite_feed li{
  padding-right: 45px;
}
.m0{ margin: 0 }
.favourite_feed-error,.favourite_duplicate-error{display: none;}
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}